body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:878px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:51px;
  top:42px;
  width:76px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:39px;
  background:inherit;
  background-color:rgba(136, 203, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u92 {
  position:absolute;
  left:51px;
  top:62px;
  width:76px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:39px;
  background:inherit;
  background-color:rgba(243, 185, 4, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u94 {
  position:absolute;
  left:51px;
  top:100px;
  width:76px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:39px;
  background:inherit;
  background-color:rgba(247, 247, 4, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96 {
  position:absolute;
  left:51px;
  top:138px;
  width:76px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:51px;
  top:176px;
  width:76px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u99 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u100 {
  position:absolute;
  left:51px;
  top:214px;
  width:76px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:704px;
  background:inherit;
  background-color:rgba(0, 107, 185, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u102 {
  position:absolute;
  left:131px;
  top:42px;
  width:76px;
  height:704px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:2px;
  top:302px;
  width:72px;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u104 {
  position:absolute;
  left:214px;
  top:42px;
  width:578px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u105 {
  position:absolute;
  left:2px;
  top:37px;
  width:574px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(136, 203, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u106 {
  position:absolute;
  left:231px;
  top:58px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u107 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(247, 247, 4, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u108 {
  position:absolute;
  left:374px;
  top:58px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u109 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(247, 247, 4, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u110 {
  position:absolute;
  left:521px;
  top:58px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u111 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(247, 247, 4, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u112 {
  position:absolute;
  left:668px;
  top:58px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u113 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u114 {
  position:absolute;
  left:214px;
  top:169px;
  width:578px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u115 {
  position:absolute;
  left:2px;
  top:37px;
  width:574px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:60px;
  background:inherit;
  background-color:rgba(243, 185, 4, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u116 {
  position:absolute;
  left:231px;
  top:186px;
  width:248px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u117 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(136, 203, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u118 {
  position:absolute;
  left:521px;
  top:186px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u119 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:503px;
  top:132px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u120_seg1 {
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:21px;
}
#u121 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u122 {
  position:absolute;
  left:214px;
  top:305px;
  width:138px;
  height:195px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u123 {
  position:absolute;
  left:2px;
  top:90px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(136, 203, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u124 {
  position:absolute;
  left:229px;
  top:324px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u125 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u126 {
  position:absolute;
  left:229px;
  top:416px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u127 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u128 {
  position:absolute;
  left:503px;
  top:305px;
  width:141px;
  height:195px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u129 {
  position:absolute;
  left:2px;
  top:90px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u130 {
  position:absolute;
  left:520px;
  top:324px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u131 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u132 {
  position:absolute;
  left:520px;
  top:416px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u133 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(136, 203, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u134 {
  position:absolute;
  left:374px;
  top:416px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u135 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:574px;
  top:246px;
  width:0px;
  height:0px;
}
#u136_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u136_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:21px;
}
#u137 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:574px;
  top:246px;
  width:0px;
  height:0px;
}
#u138_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u138_seg1 {
  position:absolute;
  left:-295px;
  top:25px;
  width:299px;
  height:8px;
}
#u138_seg2 {
  position:absolute;
  left:-295px;
  top:25px;
  width:8px;
  height:34px;
}
#u138_seg3 {
  position:absolute;
  left:-301px;
  top:45px;
  width:20px;
  height:21px;
}
#u139 {
  position:absolute;
  left:-196px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:574px;
  top:246px;
  width:0px;
  height:0px;
}
#u140_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u140_seg1 {
  position:absolute;
  left:-151px;
  top:25px;
  width:155px;
  height:8px;
}
#u140_seg2 {
  position:absolute;
  left:-151px;
  top:25px;
  width:8px;
  height:145px;
}
#u140_seg3 {
  position:absolute;
  left:-157px;
  top:156px;
  width:20px;
  height:21px;
}
#u141 {
  position:absolute;
  left:-180px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u142 {
  position:absolute;
  left:214px;
  top:517px;
  width:430px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u143 {
  position:absolute;
  left:2px;
  top:18px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u144 {
  position:absolute;
  left:229px;
  top:530px;
  width:105px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u145 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u146 {
  position:absolute;
  left:374px;
  top:530px;
  width:105px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u147 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u148 {
  position:absolute;
  left:520px;
  top:530px;
  width:105px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u149 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:282px;
  top:384px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u150_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:21px;
}
#u151 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:282px;
  top:476px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u152_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:21px;
}
#u153 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:427px;
  top:476px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u154_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:21px;
}
#u155 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:573px;
  top:476px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u156_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:21px;
}
#u157 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:573px;
  top:384px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u158_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:21px;
}
#u159 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u160 {
  position:absolute;
  left:214px;
  top:588px;
  width:578px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u161 {
  position:absolute;
  left:2px;
  top:37px;
  width:574px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u162 {
  position:absolute;
  left:229px;
  top:604px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u163 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u164 {
  position:absolute;
  left:374px;
  top:604px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u165 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u166 {
  position:absolute;
  left:520px;
  top:604px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u167 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u168 {
  position:absolute;
  left:668px;
  top:604px;
  width:105px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u169 {
  position:absolute;
  left:2px;
  top:21px;
  width:101px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:282px;
  top:560px;
  width:0px;
  height:0px;
}
#u170_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u170_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:21px;
}
#u171 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:427px;
  top:560px;
  width:0px;
  height:0px;
}
#u172_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u172_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:21px;
}
#u173 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:573px;
  top:560px;
  width:0px;
  height:0px;
}
#u174_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u174_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:21px;
}
#u175 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:721px;
  top:118px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:490px;
}
#u176_seg1 {
  position:absolute;
  left:-10px;
  top:472px;
  width:20px;
  height:21px;
}
#u177 {
  position:absolute;
  left:-50px;
  top:235px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u178 {
  position:absolute;
  left:214px;
  top:706px;
  width:578px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u179 {
  position:absolute;
  left:2px;
  top:8px;
  width:574px;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:704px;
  background:inherit;
  background-color:rgba(0, 107, 185, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u180 {
  position:absolute;
  left:802px;
  top:42px;
  width:76px;
  height:704px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u181 {
  position:absolute;
  left:2px;
  top:302px;
  width:72px;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u182 {
  position:absolute;
  left:51px;
  top:252px;
  width:76px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u183 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:334px;
  top:545px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u184_seg1 {
  position:absolute;
  left:18px;
  top:-4px;
  width:8px;
  height:164px;
}
#u184_seg2 {
  position:absolute;
  left:12px;
  top:146px;
  width:20px;
  height:21px;
}
#u185 {
  position:absolute;
  left:-28px;
  top:61px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:479px;
  top:545px;
  width:0px;
  height:0px;
}
#u186_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u186_seg1 {
  position:absolute;
  left:20px;
  top:-4px;
  width:8px;
  height:165px;
}
#u186_seg2 {
  position:absolute;
  left:14px;
  top:147px;
  width:20px;
  height:21px;
}
#u187 {
  position:absolute;
  left:-26px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:625px;
  top:545px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u188_seg1 {
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:164px;
}
#u188_seg2 {
  position:absolute;
  left:20px;
  top:146px;
  width:20px;
  height:21px;
}
#u189 {
  position:absolute;
  left:-20px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:521px;
  top:216px;
  width:0px;
  height:0px;
}
#u190_seg0 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:46px;
  height:8px;
}
#u190_seg1 {
  position:absolute;
  left:-49px;
  top:-10px;
  width:21px;
  height:20px;
}
#u191 {
  position:absolute;
  left:-71px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:33px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:33px;
}
#u193 {
  position:absolute;
  left:2px;
  top:8px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
